body{
    display: flex;
    justify-content: center;

    background: linear-gradient(106deg,#ee1414,#e923ac,#811113, #b129e7);
    animation: gradient-animation 12s ease infinite;
    background-size: 180% 180%;
}

.container{
    border-radius: 2%;
    width: 480px;   
    height: 500px;
    padding: 10px;

    background-image: url("imgs/laura.jpeg");
    background-size: 520px 520px;
    background-repeat: no-repeat;
    opacity: 90%;
}

.botoes {
    margin: 20px;
}

.texto {
    display: flex;
    flex-direction: row;
    justify-content: center;

    text-decoration-color: antiquewhite;
    border-radius: 4px;

    background-image: url("imgs/pixel_heart.gif");
    background-size: 165px 120px;
}

a{
    text-decoration: none;
}

#sim{
    height: 40px;
    width: 60px;
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 10rem;
}

#nao{
    position: absolute;
    height: 40px;
    width: 60px;
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 10rem;
    margin-left: 70px;
}

.texto:hover{
    cursor: pointer;

    animation: pulse 0.3s infinite;
    display: flex;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -webkit-filter: brightness(100%);
    }
    100% {
      -webkit-transform: scale(1.1);
      -webkit-filter: brightness(200%);
    }
  }
  
@keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(200%);
    }
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
